
<div class="sidebar">
    <div class="container">
        <a class="nav-link my-2 side-btn" href="/dashboard/<%= id %>"><i class="bi bi-play-circle-fill"></i>    RECORDINGS</a>
        <a class="nav-link my-2 side-btn" href="/tasks/<%= id %>"><i class="bi bi-journal-code"></i>    ASSIGNMENTS</a>
        <a class="nav-link my-2 side-btn" href="/interview/<%= id %>"><i class="bi bi-question-circle-fill"></i>    INTERVIEW</a>
        <a class="nav-link my-2 side-btn" href="/invoice/<%= id %>"><i class="bi bi-currency-rupee"></i>    INVOICE</a>
        <a class="nav-link my-2 side-btn" aria-current="page" href="/certification/<%= id %>"><i class="bi bi-mortarboard-fill"></i>    CERTIFICATION</a>
    </div>
</div>