<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="bottom-nav">
        <a class="btm-a" href="/dashboard/<%= id %>">
          <div class="b-nav-item">
            <p>
              <i class="bi bi-play-circle-fill"></i>
            </p>
            <p>VIDEOS</p>
          </div>
        </a>
        <a class="btm-a" href="/tasks/<%= id %>">
          <div class="b-nav-item">
            <p>
              <i class="bi bi-mortarboard-fill"></i>
            </p>
            <p>TASKS</p>
          </div>
        </a>
        <a class="btm-a" href="/interview/<%= id %>">
          <div class="b-nav-item">
            <p>
              <i class="bi bi-question-circle-fill"></i>
            </p>
            <p>INTERVIEW</p>
          </div>
        </a>
        <a class="btm-a" href="/invoice/<%= id %>">
          <div class="b-nav-item">
            <p>
              <i class="bi bi-currency-rupee"></i>
            </p>
            <p>INVOICE</p>
          </div>
        </a>
        <a class="btm-a" href="/certification/<%= id %>">
          <div class="b-nav-item">
            <p>
              <i class="bi bi-mortarboard-fill"></i>
            </p>
            <p>SEAL</p>
          </div>
        </a>
      </div>
</body>
</html>